<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" sizes="" href="https://jingfelix-ihs.oss-cn-beijing.aliyuncs.com/images/ico.png">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style-menu.css')}}">
    <script type="text/javascript" async src="{{url_for('static', filename='scripts/click.js')}}"></script>
    <title>About</title>
</head>

<body>
    <div class="header">
        <a href="{{url_for('index', _external=True)}}">
            <div class="title">
                Anonymous
            </div>
        </a>
        <a href="{{url_for('about', _external=True)}}">
            <div class="bottom">
                ABOUT
            </div>
        </a>
    </div>
    <div id="h1">
        <center>
            <div class="menuitem">
                <strong>
                    About
                </strong>
                <hr>
                <p>声明</p>
                <li>本网站不使用任何Cookies，且不会保存任何除ip地址以外的访问记录</li>
                <hr>
                <p>关于</p>
                <li>添加你自己的内容！</li>
                
            </div>

        </center>
    </div>
    <div class="footer">
        "星の鼓動は愛"
        <a href="https://github.com/jingfelix">
            <img id="bottom_img" src="https://jingfelix-ihs.oss-cn-beijing.aliyuncs.com/images/ico.png" alt="">
        </a>
        By jfelix 2021
    </div>
</body>

</html>